@font-face {
  font-family: "PP NeueMachina";
  src: url("../fonts/NeueMachina-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PP NeueMachina";
  src: url("../fonts/NeueMachina-Black.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.ttf");
  font-weight: 400;
}